@font-face {
	font-family: "Gilroy";
	src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
			url(../fonts/gilroyextrabold.woff) format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "Gilroy";
	src: url(../fonts/gilroylight.woff2) format("woff2"),
			url(../fonts/gilroylight.woff) format("woff");
	font-weight: 100;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/opensans.woff2) format("woff2"),
			url(../fonts/opensans.woff) format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/opensanslight.woff2) format("woff2"),
			url(../fonts/opensanslight.woff) format("woff");
	font-weight: 100;
}
*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	min-width: 1160px;
	margin: 0 auto;
	background: #fff;

	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 30px;
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 1160px;
	margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #484337;
}
a:active {
	color: #b8a974;
}
.main-header {
	background: #f7e296;
	margin-top: 20px;
}
.main-header ul {
	list-style: none;
	padding: 0;

}
.logo {
	background: linear-gradient(#fff 43%, #f7e296 0%);
	padding: 2px 61px 0;
	margin-bottom: 10px;
}
.logo a:hover,
.logo a:focus {
	opacity: 0.6;
}
.logo a:active {
	opacity: 0.3;
}
.header-wrapper {
	display: flex;
	justify-content: center;
	padding: 7px 60px 0;
	margin-bottom: 19px;
}
.header-wrapper form, .header-wrapper ul {
	display: flex;
	margin: 0;
}

.form-search {
	position: relative;
	padding-left: 40px;
	width: 450px;
}
.form-search input[type="search"] {
	width: 100%;
	font: inherit;
	line-height: 30px;
	color: #000;

	border: none;
	opacity: 0.7;

	background: inherit;
	padding-bottom: 19px;
}
.form-search::before {
	content: ""; 

	position: absolute;
	top: 8px;
	left: 4px;

	width: 16px;
	height: 16px;
	
	background: url("../img/search.svg") no-repeat 0 0;
}
.form-search input[type="search"]:hover {
	opacity: 0.9;
}
.form-search input[type="search"]:focus {
	opacity: 1;
	color: #000;
	outline: none;
	border-bottom: 2px solid #000;
}
.form-search .search-button {
	background-color: inherit;
	border: 2px solid #000;
	font-family: inherit;
	line-height: 30px;
	padding: 8px 20px;
	cursor: pointer;
	visibility: hidden;
}

.form-search .search-button:hover {
	background-color: #000;
	color: #fff;
}

input[type="search"]:focus + .search-button {
	visibility: visible;
}


.login-link {
	position: relative;
	padding-left: 30px;
}
.login-link::before {
	content: "";

	position: absolute;
	left: 5px;
	top: 5px;
	
	width: 13px;
	height: 12px;

	background: url("../img/user.svg") no-repeat 0 0;
}

.user-account {
	position: relative;
	margin-right: 20px;
	padding-left: 30px;
}

.user-account::before {
	content: "";

	position: absolute;
	left: 0;
	top: 5px;
	
	width: 13px;
	height: 12px;

	background: url("../img/user.svg") no-repeat 0 0;
}

.header-wrapper .user-navigation {
	margin-left: 88px;
}

.logout-link {
	color: rgba(0, 0, 0, 0.3);
}

.header-wrapper .cart-block {
	margin-left: auto;
}
.cart-block li:not(:last-child) {
	margin-right: 34px;
}
.compare-link {
	position: relative;
	padding-left: 30px;
}
.compare-link::before {
	content: "";

	position: absolute;
	top: 6px;
	left: 10px;

	width: 10px;
	height: 10px;

	background: url("../img/compare.svg") no-repeat 0 0;
}
.cart-link {
	position: relative;
	padding-left: 30px;
}
.cart-link::before {
	content: "";

	position: absolute;
	top: 4px;
	left: 8px;

	width: 12px;
	height: 12px;

	background: url("../img/cart.svg") no-repeat 0 0;
}


.login-link:hover::before,
.compare-link:hover::before,
.cart-link:hover::before,
.user-account:hover::before,
.user-account:focus::before,
.cart-link:focus::before,
.compare-link:focus::before,
.login-link:focus::before {
	opacity: 0.6;
}

.login-link:active::before,
.cart-link:active::before,
.user-account:active::before {
	opacity: 0.3;
}
.main-navigation {
	height: 189px;
}
.main-navigation.catalog-page {
	height: 73px;
}
.main-navigation > ul {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0 60px;
	margin: 0;
	justify-content: flex-end;
}
.main-navigation > ul > li > a {
	display: block;
	font-family: "Gilroy";
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	padding-bottom: 35px;
}
.main-navigation > ul > li:not(:first-of-type) {
	margin-right: 35px;
}
.main-navigation > ul > li:last-of-type {
	margin-left: 73px;
	margin-right: -5px;
}
.main-navigation > ul > li:first-of-type {
	margin-right: auto;
	position: relative;
}
.main-navigation .category-link::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 231px;
	width: 16px;
	height: 16px;
	background: url("../img/plus.svg") no-repeat 0 0;
	opacity: 0.3;
}
.main-navigation .main-category-navigation {
	visibility: hidden;
	width: 1160px;
	background-color: #f7e296 ;
	position: absolute;
	left: -60px;
	padding: 0 60px 40px 60px;
	margin: 0;
	z-index: 5;
}
.main-category-navigation li {
	display: flex;
}
.main-category-navigation li ul {
	padding: 0;
	margin: 0;
	margin-right: 30px;
}
.main-category-navigation li ul:last-child {
	margin-right: 0;
}

.main-navigation ul > li:hover .main-category-navigation {
	visibility: visible;
}

.main-slider {
	position: relative;
	top: -109px;
}
.main-slider input {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.slider-controls {
	position: absolute;
	bottom: 162px;
	right: 81px;
	z-index: 100;
	width: 80px;
	height: 15px;
	font-size: 0;
	text-align: center;
}
.slider-controls label {
	position: relative;

	display: inline-block;
	width: 12px;
	height: 12px;

	border-radius: 50%;
	cursor: pointer;

	border: 1px solid #000;

	margin-right: 21px;
}

.slider-controls label:last-child {
	margin-right: 0;
}
.slider-item-content .button {
	padding: 10px 43px;
}

.slider-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.slider-item-content {
	padding: 75px 0 0;
	width: 560px;
	margin-left: auto;
	min-height: 500px;
	position: relative;
}

.slider-item-content::after {
    position: absolute;

	font-family: 'Gilroy','Helvetica',sans-serif;
    font-size: 179px;
    font-weight: 900;
    color: #fff;

    line-height: 179px;
    letter-spacing: .01em;
    
    top: -18px;
    right: 45px;
    z-index: 0;

}

.slider-item:nth-child(1) .slider-item-content::after {
	content: "01";
}

.slider-item:nth-child(2) .slider-item-content::after {
	content: "02";
}

.slider-item:nth-child(3) .slider-item-content::after {
	content: "03";
}

.slider-item {
 display: none;
}

.slider-item:nth-child(1) {
	background: url("../img/slider-1.png") no-repeat 91px -4px;
}
.slider-item:nth-child(2) {
	background: url("../img/slider-2.png") no-repeat 50px 0;
}
.slider-item:nth-child(3) {
	background: url("../img/slider-3.png") no-repeat 50px 0;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 4px;
  height: 3px;
  background-color: inherit;
  border: 1px solid #000;
  border-radius: 50%;
}
.slider-item-content h3 {
	font-family: "Gilroy";
	font-weight: 700;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.7px;

	margin: 0;
	margin-bottom: 25px;

	position: relative;
	z-index: 1;
}

.slider-item-content h3::before {
	content: "";
	position: absolute;
	left: 0;
	top: -43px;

	width: 100px;
	height: 7px;

	background-color: #fff;
}

.slider-item-content p {
	margin: 0;
	margin-bottom: 48px;
	margin-top: -6px;
	letter-spacing: 0.2px;
}

.slider-item-content table {
	margin-top: 50px;
}
.slider-item tbody {
	display: flex;
	flex-direction: column-reverse;
}
.slider-item-content th {
font-size: 13px;
font-weight: 100;
line-height: 20px;
padding-left: 77px;
}

.slider-item-content td {
	font-family: "Gilroy";
	font-size: 36px;
	line-height: 48px;
	padding-left: 75px;
}
.crutch {
	padding-left: 89px;
}
.slider-item-content th:first-child,
.slider-item-content td:first-child {
	padding-left: 0;
}

.navigation-block {
	margin-top: -21px;
}

.navigation-block ul {
	font: 700 18px/24px "Gilroy";
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
.navigation-block ul li {
	width: 160px;
}
.navigation-block ul li a {
	display: block;
}
.navigation-block h3 {
	position: relative;
	font: inherit;
	margin: 0;
	padding-top: 193px;
}
.navigation-block-item::before {
	content: "";

	position: absolute;
	top: 0;
	
	width: 160px;
	height: 160px;

	background-color: #f7e296;
	background-repeat: no-repeat;
	background-position: center;
}
.navigation-block-item.vr::before {
	background-image: url("../img/popular-1.svg");
}
.navigation-block-item.monopod::before {
	background-image: url("../img/popular-2.svg");
	background-position-y: bottom;
}
.navigation-block-item.action-camera::before {
	background-image: url("../img/popular-3.svg");
}
.navigation-block-item.fitness-bracelet::before {
	background-image: url("../img/popular-4.svg");
}
.navigation-block-item.smart-watch::before {
	background-image: url("../img/popular-5.svg");
}
.navigation-block-item.quadcopters::before {
	background-image: url("../img/popular-6.svg");
}
.navigation-block-item:hover::before,
a:focus .navigation-block-item::before  {
	background-color: #f0c52e;
}
.navigation-block-item:active::before {
	opacity: 0.3;
}
.service-wrapper {
	background: linear-gradient(#fff 26%,#e5e5e5 0%);
	margin-top: 77px;
	padding-top: 4px;
	padding-bottom: 71px;
	padding-left: 8px;
}

.service-slider {
	display: flex;
	min-height: 310px;
	justify-content: space-between;
}

.service-button-list {
	width: 285px;
	padding-top: 80px;
	padding-bottom: 45px;
	border-right: 7px solid #000;
}
.service-button-container {
	width: 160px;
	margin-bottom: 24px;
}

.button-service {
	font-family: 'Gilroy';
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	position: relative;
	z-index: 0;
	display: block;
	width: 100%;
	padding: 5% 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	letter-spacing: .2em;
	text-transform: uppercase;
	border: 0;
	background: 0 0;
}

.button-service::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 42%;
	left: 0;
	width: 100%;
	height: 14%;
	background-color: #f0c52e;
}
.button-service-active {
	color: #f7e184;
}

.button-service-active::before,
.button-service-active:focus::before {
	z-index: -1;
	top: 0;
	bottom: 0;
	width: 280px;
	height: 100%;
	background-color: #000;
}

.button-service:hover::before,
.button-service:focus::before {
	z-index: -1;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.button-service-active:hover::before {
	width: 280px;
}

.service-item {
	position: relative;
	display: none;
	flex-direction: column;
	width: 760px;
	padding-top: 70px;
}

.service-item-active {
	display: flex;
}

.service-inner {
	position: relative;
}

.service-description {
	width: 425px;
	right: 332px;
	top: -3px;

}
.service-description h3 {
	margin: 0;
	padding: 0;
	font-size: 47px;
	font-family: "Gilroy";
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0.8px;
}
.service-description p {
	margin: 35px 0 0 0;
	padding: 0;
	letter-spacing: 0.2px;
}
.service-delivery::after {
	content: "";
	position: absolute;
	top: 0;
	right: 68px;
	height: 200px;
	width: 136px;
	background: url("../img/delivery.svg") no-repeat left 16px;
}
.service-warranty::after {
	content: "";
	position: absolute;
	top: -15px;
	right: -260px;
	height: 194px;
	width: 171px;
	background: url("../img/warranty.svg") no-repeat 0 0;
}
.service-credit::after {
	content: "";
	position: absolute;
	top: -25px;
	right: -260px;
	height: 186px;
	width: 156px;
	background: url("../img/credit.svg") no-repeat 0 0;
}

.manufacturers {
	margin-top: 95px;
}

.manufacturers ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
.manufacturers a {
	display: block;
}
.manufacturers img {
	filter: grayscale(100%); 
	opacity: 0.2;
}
.manufacturers img:hover {
	filter: none;
	opacity: 1; 
}
.container-flex {
	display: flex;
}
.container-flex .about-us,
.container-flex .contacts {
	width: 600px;
	margin-top: 43px;
}

.container-flex .contacts {
	padding-left: 20px;
}

.about-us h2,
.contacts h2 {
	position: relative;
	margin: 0;
	padding-top: 93px;
	font-size: 47px;
	font-weight: 700;
	font-family: "Gilroy";
	line-height: 48px;
}
.about-us h2::before,
.contacts h2::before {
	content: "";
	position: absolute;
	top: 40px;

	width: 80px;
	height: 7px;
	background-color: black;
}
.about-us p,
.contacts p {
	margin: 0;
	padding-top: 40px;
}

.about-us ul {
	padding-top: 60px;
	padding-left: 15px;
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	font-family: "Gilroy";
	line-height: 40px;
	list-style-position: inside;
	list-style-type: circle;
}
.about-us p:last-of-type {
	padding-top: 60px;
}

.contacts p {
	padding-bottom: 40px;
}
.contacts p:last-of-type {
	padding-top: 67px;
}
.contacts .button {
	padding: 10px 40px;
}
.contacts .map {
	display: block;
}

.button {
	border: none;
	background-color: inherit;

	padding: 10px 20px;

	font-family: "Gilroy";
	font-size: 18px;
	font-weight: bold;
	
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;

	min-width: 220px;
	min-height: 40px;
	background-image: url("../img/button-bg.png");
	background-repeat: repeat-x;
	background-position: center left;
	position: relative;
}
.button:hover {
	background-color: #f0c52e;
	color: #000;
	cursor: pointer;
}
.button:hover:active,
.button:hover:focus { 
	color: rgba(0, 0, 0, 0.3)
}

.wrapper {
	background-color: #464646;
}
.main-footer {
	margin-top: 47px;
	padding-top: 66px;
	padding-bottom: 70px;
}
.main-footer.catalog-footer {
	margin-top: 0px;
}
.footer-row {
	position: relative;
	display: flex;
	justify-content: center;
	color: #fff;
}

.footer-row:nth-of-type(2) {
	padding-top: 20px;
}

.footer-row:last-child::before {
	content: "";
	position: absolute;

	bottom: 10px;
	left: 0;

	width: 80px;
	height: 7px;

	background-color: #ffc600;

}

.footer-row ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.footer-row .footer-social {
	padding-top: 4px;
	padding-left: 30px;
}
.footer-row p {
	padding: 0;
	margin: 0;
}
.footer-row a {
	color: inherit;
}
.user-navigation-footer {
	margin-left: auto;
	margin-top: -6px;
}
.user-navigation-footer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.user-navigation-footer ul li:first-of-type {
	padding-left: 25px;
}
.user-navigation-footer ul li:not(:first-of-type) {
	margin-left: 33px;
}
.user-navigation-footer a {
	font-size: 15px;
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
}
.user-navigation-footer ul li.logout-link {
	margin-left: 22px;
}
.user-navigation-footer .logout-link a {
	color: rgba(255, 255, 255, 0.3);
}
.user-navigation-footer a:hover,
.user-navigation-footer a:focus {
	color: #fff;
}
.user-navigation-footer a:active {
	color: rgba(255, 255, 255, 0.3);
}
.user-navigation-footer .login-link::before {
	background: url("../img/user-footer.svg") no-repeat 0 0;
}
.user-navigation-footer .compare-link::before {
	background: url("../img/compare-footer.svg") no-repeat 0 0;
}
.user-navigation-footer .cart-link::before {
	background: url("../img/cart-footer.svg") no-repeat 0 0;
}
.footer-row .footer-address {
	margin-right: auto;
}
.service-navigation-footer {
	display: flex;
	justify-content: space-between;
	width: 462px;
	margin-bottom: 60px;
	padding-top: 6px;
	padding-right: 33px;
}
.service-navigation-footer a {
	font-size: 18px;
	line-height: 24px;
	font-family: "Gilroy";
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.service-navigation-footer a:hover,
.service-navigation-footer a:focus {
	opacity: 0.6;
}
.service-navigation-footer a:active {
	opacity: 0.3;
}

.footer-row .phone-number-footer {
	margin-left: auto;
}
.footer-social {
	display: flex;
	width: 174px;
	justify-content: space-between;
}
.footer-social img {
	opacity: 0.3;
}
.footer-social a, .footer-copyright a {
	font-size: 0;
	display: block;
	line-height: 0;
}
.footer-social a:hover,
.footer-social a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
	opacity: 0.6;
}
.footer-social a:active {
	opacity: 0.1;
}
.footer-copyright a:active {
	opacity: 0.3;
}
.modal {
	display: none;
	background-color: #fff;
	position: absolute;
}
.modal-show {
	position: fixed;
	z-index: 999;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease-in-out;
	box-sizing: content-box;
}
.modal-form {
	width: 760px;
	margin: 0 auto;
	padding: 100px;
	background-color: #fff;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.modal-form form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.modal-form p {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.modal-form label {
	font-size: 18px;
	line-height: 24px;
	font-family: "Gilroy";
	font-weight: 700;
}
.modal-form input {
	font-size: 14px;
	line-height: 18px;
	font-family: "Open Sans";
	font-weight: normal;
	color: rgba(70, 70, 70, 0.4);
	padding: 16px 20px;
	margin: 10px 0 35px;
	width: 360px;
	margin-right: 40px;
	box-sizing: border-box;
	border: none;
	background-color: rgba(229, 229, 229, 0.5);
}
.modal-form input[type="email"] {
	margin-right: 0;
}
.modal-form input::placeholder {
	color: rgba(70, 70, 70, 0.4);
}
.modal-form .modal-comment-input {
	width: 718px;
	min-height: 116px;
	padding: 20px;
	margin-top: 10px;
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: normal;
	line-height: 18px;
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(229, 229, 229, 0.5);

	border: none;
}
.modal-form button {
	margin-right: auto;
	margin-top: 45px;
}
.modal-close {
	position: absolute;
	border: none;
	right: 22px;
	top: 22px;
	background: url("../img/modal-close.svg") no-repeat 0 0;
	width: 55px;
	height: 55px;
	font-size: 0;
	opacity: 0.5;
	cursor: pointer;
	z-index: 4;
}
.modal-map {
	width: 960px;
}
.modal-map iframe {
	z-index: 3;
	position: relative;
}
.modal-map p {
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 1;
	top: 0;
}


/* catalog styles */
.catalog-wrapper {
	width: 100%;
	margin: 0 auto;
}

.page-title {
	font-family: "Gilroy";
	font-weight: 700;
	font-size: 47px;
	line-height: 48px;
	margin: 0;
	margin-top: 37px;
	padding-left: 63px;
	letter-spacing: 0.7px;
}
.breadcrumbs {
	margin-bottom: 44px;
	padding: 0;
	list-style: none;
	margin-top: 21px;
	padding-left: 60px;
}
.breadcrumbs li {
	display: inline-block;
	position: relative;
	margin-right: 20px;
}
.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 11px;
	right: -5px;
	width: 4px;
	height: 7px;

	background: url(../img/nav-arrow.svg) no-repeat 0 0;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.breadcrumbs li a {
	padding-right: 16px;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}
.catalog-heading .container {
	display: flex;
	background-image: linear-gradient(to right,#dcdcdc,#dcdcdc 28.45%,#ebebeb 28.45%,#ebebeb);
}
.catalog-heading {
	background-image: linear-gradient(to right,#dcdcdc,#dcdcdc 50%,#ebebeb 50%,#ebebeb);
}
.catalog-wrapper {
	background: linear-gradient(to right, #efefef 50%, #fff 50%);
}

.catalog-wrapper h2 {
	font-family: "Gilroy";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.7px;
	text-transform: uppercase;
	margin: 0;
	padding: 24px 0;
	padding-left: 62px;
}
.product-sort h2 {
	padding-left: 4px;
}
.container-catalog {
	display: flex;
	width: 1160px;
	margin: 0 auto;
	padding-top: 66px;
	background-image: linear-gradient(to right, #efefef 28.45%, #fff 0%);
}
.product-sort {
	display: flex;
	align-items: flex-start;
	margin-left: 245px;
}
.product-sort h2 {
	margin: 0;
	margin-right: 49px;
}
.product-sort ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 23px;
}

.product-sort ul li {
	display: inline-block;
	padding-right: 26px;
}

.product-sort li:not(.active) a {
	color: rgba(0, 0, 0, 0.3);
}

.sort-list {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}
.sort-list .active {
	font-weight: 700;
}
.product-sort .indicator-list {
	font-size: 0;
	margin-left: 207px;
	padding-top: 28px;
}

.indicator-item {
	position: relative;
}
.indicator-item::before {
	content: "";
	position: absolute;

	width: 11px;
	height: 10px;
}
.indicator-item.active {
	opacity: 0.2;
}
.indicator-item-up::before {
	background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}

.product-sort .indicator-item-down {
	padding-right: 0;
	padding-left: 3px;
}
.indicator-item-down::before {
	background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}
.catalog {
	padding-left: 140px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.product-item {
	margin-right: 40px;
	margin-bottom: 41px;
	position: relative;
}
.product-image {
	display: block;
	background-color: #eee;
	position: relative;
}
.product-image-new::after {
	content: "new";

	position: absolute;
	top: 28px;
	right: 27px;

	text-transform: uppercase;
	font-family: "Gilroy";
	font-weight: 700;
	text-align: center;
	
	width: 60px;
	height: 60px;
	line-height: 60px;
	border: 2px solid #000;
	border-radius: 50%;

	opacity: 0.2;
}
.product-item-links {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -100%);
	text-align: center;
	opacity: 0;
}

.product-item:hover img {
	background-color: #eee;
	opacity: 0.2;
	cursor: pointer;
}
.product-item:hover .product-item-links {
	opacity: 1;
}
.product-item:hover .product-compare-link {
	opacity: 0.5;
}
.product-compare-link {
	font-family: inherit;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.5px;
}
.product-item .product-compare-link:hover {
	opacity: 1;
	color: #000;
}

.product-item:nth-child(2n) {
	margin-right: 0;
}
.product-item div {
	display: flex;
	align-items: baseline;
}
.product-item h3 {
	width: 260px;
	font-family: "Gilroy";
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	padding-top: 34px;
	letter-spacing: 0.2px;
}
.product-item-price {
	margin-left: auto;

	font-family: "Gilroy";
	font-weight: 100;
	font-size: 16px;
	line-height: 24px;

	color: #464646;
}

.pagination {
	margin-bottom: 77px;
}

.pagination-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	background-color: rgba(0, 0, 0, 0.08);

	width: 760px;
	padding: 20px 30px;
	margin: 0;

	list-style: none;
}
.pagination-list li:first-child {
	margin-right: auto;
}
.pagination-list li:last-child {
	margin-left: auto;
}
.pagination-list li {
	font-family: "Gilroy";
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 4px;
	color: #000;
}
.pagination-list button {
	border: 0;
	background-color: inherit;
	font-family: "Gilroy";
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3px;
	padding: 0;
	
	text-transform: uppercase;

	cursor: pointer;
}

.pagination-list .pagination-item {
	margin-right: 28px;
}

.pagination-list li:nth-child(2) {
	margin-left: 13px;
}

.pagination-list li:nth-last-child(2) {
	margin-right: 0;
}

.pagination-list li:not(.pagination-item-current) a {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-filter {
	padding-left: 60px;
	width: 290px;
}

.catalog-filter ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.catalog-filter ul li {
	margin-bottom: 17px;
}
.catalog-filter ul li:last-child {
	margin-bottom: 0;
}
.catalog-filter .color-option-list {
	margin-top: 25px;
	margin-bottom: 3px;
}
.catalog-filter .bluetooth-option-list {
	padding-top: 27px;
}
.catalog-filter fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 35px;
	border: 0;
	position: relative;
}

.catalog-filter fieldset::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 201px;
	height: 2px;

	background-color: #000;
}

.catalog-filter legend {
	font-family: "Gilroy";
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	padding-top: 13px;
}
.catalog-filter .button {
	margin-top: 3px;
	min-width: 200px
}

.range-filter {
	margin-top: 2px;
	width: 201px;
}
.range-controls {
	padding-top: 30px;
	position: relative;
}
.range-controls .scale {
	height: 2px;
	background-color: #dbdbdb;
}
.range-controls .bar {
	width: 70%;
	height: 2px;

	background-color: #91c92f;
}
.range-controls .toogle {
	position: absolute;
	left: -6px;
	top: 22px;

	width: 4px;
	height: 4px;
	padding: 2px;

	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #dadada;
	background-color: #ababab;
	cursor: pointer;
}

.range-controls .toogle:focus,
.range-controls .toogle:active {
	border: 10px solid #fff;
	top: 18px;
}

.range-controls .toogle-max {
	left: 106px;
}

.price-controls {
	padding-top: 10px;
	font-family: "Gilroy";
	font-size: 14px;
	line-height: 24px;
	font-weight: 100;

	color: rgba(0, 0, 0, 0.2)
}
.price-controls .max-price {
	padding-left: 60px;
}

.filter-option label {
	display: block;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
	user-select: none;
	line-height: 23px;
	letter-spacing: -0.8px;
}
.filter-input-checkbox + label::before {
	content: "";
	position: absolute;

	width: 23px;
	height: 23px;

	background: url("../img/checkbox-off.svg");

	top: 0;
	left: 0;
}

.filter-input-checkbox:checked + label::before {
	background: url("../img/checkbox-on.svg") no-repeat 0 0;
	width: 27px;
	
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: 0;

	width: 25px;
	height: 25px;

	background: url("../img/radio-off.svg") no-repeat 0 0;

}

.filter-input-radio:checked + label::before {
	background: url("../img/radio-on.svg") no-repeat 0 0;
}